:root,
body {
  --ion-card-color: var(--ion-text-color);
}

.lil-img-padding {
  padding: 10px 50px;
  max-height: 250px;
  display: block;
  margin: auto;
}

.md ion-header {
  backdrop-filter: blur(20px) saturate(180%);
  --ion-toolbar-background: #1f1f1fcc !important;
}

@supports not (backdrop-filter: blur(0)) {
  .md ion-header {
    --ion-toolbar-background: #1f1f1fff !important;
  }
}
